

<%- include("header") -%>

<div class="box" id="heading">
    <h1>Welcome to the home page</h1>
    <p>Please click on create at the top of the page to start creating your blog</p>
</div>


        <% if (titlePost.length >= 1) { %>
            <% for(var i=0; i<titlePost.length; i++) { %>
                <div class="box">
                    <div class="item">
                    <ul>
                        <h2><%= titlePost[i].title %>:</h2>
                        <div class="blogPostReview">
                            <p class="truncated"><%= titlePost[i].blog %> </p>
                            <a href="/viewBlog/<%= encodeURIComponent(i) %>">read more</a>
                        </div>
                    </ul>
                </div>
            </div>
            <% } %>
        <% } %>




<%- include("footer") -%>